header{
    background-color: #AA96DA;
    position: sticky;
    top: 0;
    left: 0;
    z-index:100;
    nav{
        padding-left: 0;
        margin-bottom: 0;
        body.dark & {
            background: #222222;
            box-shadow: 10px 10px 20px rgba(170,170,170,.16);
            a {
                color: #C8C8C8;
                &:hover {
                    color: #FEFEFE;
                }
            }
        }
        ul{
            margin: 0;
            li{
                padding: 10px 10px;
                display: inline-block;
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: large;
                    color: #0c056d;
                }
            }
        }
    }
}
.logo{
    width: 60%;
    height: 60%;
}
container-fluid{
    display: flex;
}
.navbar-collapse{
    flex-grow: 0;
}
.derechaHeader{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    .clima{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}