.selecionRefinator{
    display: flex;
    flex-direction: column;
    align-items: center;
    .materiales{
        display: flex;
        flex-direction: row;
        gap: 50px;
        a{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-decoration: none;
            color: #000000;
        }
    }
}

.refinador{
    margin: 50px;
    .card{
        position: relative;
        margin: 30px;
        display: flex;
        flex-direction: column;

        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: 0.35rem;

        width: 60%;
        height: 60%;

        .cardHeader{
            margin-bottom: 0;
            background-color: #f8f9fc;
            border-bottom: 1px solid #e3e6f0;
            padding: 0.75rem 3.25rem 0.75rem 1.25rem;
            border-left: 0.25rem solid #1cc88a!important;
            .cardHeaderText{
                color: #4e73df;
            }
        }
        .cardExpand{
            padding: 0.75rem 1.25rem 0.75rem 1.25rem;
            

            .btnCarleon{
                color: #fff;
                background-color: #858796;
                border-color: #70717e;
            }
            .btnBridgewatch{
                color: #fff;
                background-color: #f6c23e;
                border-color: #ca9f32;
            }
            .btnFortsterling{
                color: #3a3b45;
                background-color: #f8f9fc;
                border-color: #c0c1c2;
            }
            .btnLymhurst{
                color: #fff;
                background-color: #1cc88a;
                border-color: #12855a;
            }
            .btnMartlock{
                color: #fff;
                background-color: #36b9cc;
                border-color: #21717e;
            }
            .btnThetford{
                color: #ffffff;
                background-color: #611BBD;
                border-color: #130269;
            }
        }
    }
}
